body{
	font-family: sans-serif;
	padding: 20px;
}
header{
	background: #fed136;
	padding: 40px;
	text-align: center;
}
.card-header{
	background: #fed13699;
	transition: 0.3s;
	/*font-weight: 900;*/
}
.card-header .date{
	color: grey;
	font-weight: 550;
}
.card-header:hover{
	background: #fed136;
	transition: 0.3s;
}
.img{
	background: #aaa;
	padding: 20px;
	background-size: cover;
	background-position: center;
}
footer{
	background: #89E8DA;
	padding-top: 20px;
	padding-bottom: 5px;
	text-align: center;
	border-radius: 100px;;
}
/*dark mode*/
label{
position: absolute;
width: 45px;
height: 26px;
right: 20px;
top: 20px;
border:2px solid;
border-radius: 20px;
}
  
label:before{
position: absolute;
content: "";
width: 20px; 
height: 20px;
left: 1px;
top: 1px;
border-radius: 50%;
cursor: pointer;
background: black;
transition: 0.4s;
}
label.activ:before{
	left: 21px;
	background: rgba(255, 255, 255, 0.8);
	color: black;
}
body.dark{
	background: #2A2A2A;
}
.theme{
	background: darkgray;
	border: none !important;
}
.card.theme:hover .card-header {
	background: red;
}